:root {
  --logo-color: #2e2f42;
  --logo-fooetr: #4d5ae5;
  --fooetr-color: #f4f4fd;
  --header-adress-color: #434455;
  --header-menu-link: #404bbf;
  --background-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: #434455;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/*--header--*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo span {
  color: var(--logo-color);
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--logo-color);
}
.header-menu-link:hover {
  color: var(--header-menu-link);
}
.header-menu-link:focus {
  color: var(--header-menu-link);
}
.header-address {
  font-style: normal;
}
.header-address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.header-address-link:hover {
  color: var(--header-menu-link);
}
.header-address-link:focus {
  color: var(--header-menu-link);
}
/*--hero--*/
.hero {
  background-color: #2e2f42;
}
.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
}
.hero-btn:hover {
  background-color: var(--header-menu-link);
}
.hero-btn:focus {
  background-color: var(--header-menu-link);
}
/*----About us----*/
.info {
}
.info-list {
}
.info-item {
}
.info-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.info-item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*----Servise----*/
.servise {
}
.srevise-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
/*----Team----*/
.team {
  background-color: #f4f4fd;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  text-transform: capitalize;
}
.team-list-item {
  background-color: #ffffff;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-jobtitle {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/*----footer----*/
.footer {
  background-color: #2e2f42;
}
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-fooetr);
}
.footer-logo-link span {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
/*----------SECOND PAGE----------*/
/*--header--*/
.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.header-logo span {
  color: var(--logo-color);
}
.header-menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-address-link {
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--header-adress-color);
}

/*----------Menu----------*/
.menu {
}
.menu-item {
}
.item-btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  cursor: pointer;
  background-color: var(--fooetr-color);
}
.item-btn:hover {
  background: var(--header-menu-link);
  color: #ffffff;
}
.item-btn:focus {
  color: #ffffff;
  background: var(--header-menu-link);
}
.item-btn:active {
  background: var(--header-menu-link);
}
/*----------PORTFOLIO----------*/

.portfolio-item {
}
.portfolio-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*----footer page2----*/
.footer {
  background-color: #2e2f42;
}
.footer-logo-link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--logo-fooetr);
}
..footer-logo-link span {
  color: #f4f4fd;
}
.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
